# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
build/
dist/

# Tooling caches
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Local node databases created by the demo
*.sqlite3
*.db

# Environment files
.env

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
